* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
:root {
  --white: white;
  --purple: rgb(82, 6, 153);
  --lightpurple: rgb(227, 127, 227);
  --red: rgb(194, 4, 4);
}
body {
  color: black;
  background-color: white;
}
