header {
  background-color: rgb(255, 255, 255);
  padding: 20px 20px 0 20px;
  border-bottom: solid black 2px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  position: sticky;
  width: 100%;
  top: 0;
}

nav {
  display: grid;
  grid-template-columns: 45px repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

.page-links {
  display: flex;
  gap: 30px;
  margin-left: 10px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
/*Navigaation linkit*/
.nav-link {
  position: relative;
  display: inline-block;
  padding: 10px 13px;
  z-index: 1;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px;
  transition: width 0.3s ease;
  background: rgb(155, 155, 155);
}


.unactive-nav-link:hover::after {
  background:rgb(155, 155, 155);
  width: 100%;
}


.active-nav-link::after {
  background: var(--purple);
  width: 100%;
}


/*Signup ja Login buttons*/

.auth-links {
   grid-column: 3 / -1;
  grid-row: 1;
  justify-self: end;
  align-self: center;
}

.nav-btn {
  cursor: pointer;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2), inset 0 0 0 rgba(0,0,0,0);
  transition: box-shadow 0.2s ease;
}
.nav-btn:hover {
   box-shadow: 2px 2px 5px rgba(0,0,0,0.3), inset 0 2px 4px rgba(0,0,0,0.2);
}
.nav-btn.signup {
  background: none;
  margin-right: 4px;
}
.nav-btn.login {
  background: var(--purple);
  color: white;
}
#profile-img-container {
  grid-column: 4 / -1;
  grid-row: 1;
  justify-self: end;
}
#profileimg {
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  
}
#profileimg:hover {
  background-color: grey;
}

.burger-icon {
  font-size: 37px;
  border: none;
  cursor: pointer;
  grid-column: 1 / 2;
  grid-row: 2;
  align-self: center;
}
.search-wrapper {
  align-self: center;
 overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  width: 100%;
  border: solid black 2px;
  border-radius: 10px;
  grid-column: 2 / -1;
  grid-row: 2;
}
#search {
  align-self: center;
  height: 100%;
  width: 100%;
  border: none;
  padding-left: 5px;
}
#search-btn {
  height: 100%;
  width: 30px;
  border: none;
  background: var(--purple);
  color: white;
  font-size: 15px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  nav {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  }
  .search-wrapper {
    grid-column: 2 / 4;
    grid-row: 1;
    justify-self: center;
    width: 80%;
  }
  .page-links {
    justify-content: center;
    grid-column: 2 / 4;
    grid-row: 2;
  }
  
}



/*Vaihtoehto: Ei viiva vain täyttö
.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(163, 111, 196);
  inset: 0;
  width: 0%;
  border-radius: 50%;
  transition: width 0.3s ease;
  z-index: -1;
}
.nav-link:hover::after {
  width: 100%;
}

.active-nav-link::after {
  width: 100%;
  background-color: rgb(121, 37, 174);
}