#introduction {
  height: 700px;
}
.carousel {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1000px;
  overflow: hidden;
  display: flex;
}

.card {
  width: 100%;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
  padding: 20px;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.group img {
  flex: 0 0 auto;
  width: 200px;
  border-radius: 24px;
  object-fit: cover;
}
.group {
  display: flex;
  gap: 20px;
  padding-right: 20px;
  will-change: transform;
  animation: scrolling 40s linear infinite;
  transition: animation-duration 1s ease;
  white-space: nowrap;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 20px;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
