.sidebar {
  width: 0px;
  height: 100%;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-right: solid black 2px;
  color: white;
  box-sizing: border-box;
  position: fixed;
  transition: width 0.3s ease;
  z-index: 100;
  border-radius: 10px;
}

.sidebar.open {
  width: 240px;
}

.layout.open {
  opacity: 1;
  pointer-events: auto;
}

.closeBtn {
  position: absolute;
  top: 1px;
  right: 7px;
  font-size: 30px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  margin-bottom: 20px;
}
.menu {
  list-style-type: none;
  color: white;
  margin-top: 50px;
}
.menu li {
  padding: 2px;
  margin: 5px;
  margin-left: 10px;
  border-radius: 5px;
}
#sidebar-text {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: center;
  color: rgb(90, 90, 90);
  opacity: 0.3;
  white-space: nowrap;
}
.active-sidebar-link {
  background: var(--purple);
  color: white;
}

.sidebar-link {
  display: block;
  width: 200px;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2), inset 0 0 0 rgba(0, 0, 0, 0);
}
.unactive-sidebar-link {
  background: rgb(236, 236, 236);
}
